In [1]:
type(134.12)

float

In [2]:
type(134e12)

float

In [3]:
type('134q12')

str

In [4]:
type([1,0])

list

In [5]:
type({1,0})

set

In [6]:
type((1,0))

tuple

In [7]:
type({'list':[1,0],'set':{1,0},'tuple':(1,0)})

dict

In [8]:
dct={'list':[1,0],'set':{1,0},'tuple':(1,0)}

In [14]:
type(dct['list'])

list

In [15]:
type(dct['set'])

set

In [16]:
type(dct['tuple'])

tuple

In [17]:
type([[1,0],(1,0)])

list

In [18]:
type([[1,0],(1,0)][0])

list

In [19]:
type([[1,0],(1,0)][1])

tuple

In [20]:
txt='My name is Mark'

In [21]:
print(txt)

My name is Mark

In [22]:
txt2=input("What is your name? ")

What is your name? My name is Mark

In [23]:
print(txt2)

My name is Mark

In [24]:
print(txt)

My name is Mark

In [25]:
txt

'My name is Mark'

In [28]:
print(txt2)
'blahblah'

My name is Mark

'blahblah'

In [29]:
word='automobile'
list1=['cargo','bat','zoom']
list2=['portrait']
numeric_list=[0,1,2,3,4,5]

In [30]:
len(word)

10

In [31]:
len(list1)

3

In [33]:
len(list2)

1

In [34]:
word[0]

'a'

In [35]:
word[-1]

'e'

In [36]:
word[4:]

'mobile'

In [37]:
word[4:-2]

'mobi'

In [38]:
list1.append('archery')

In [39]:
list1

['cargo', 'bat', 'zoom', 'archery']

In [40]:
list1.remove('cargo')

In [41]:
list1

['bat', 'zoom', 'archery']

In [43]:
list1[:1]+['boom']+list1[1:]

['bat', 'boom', 'zoom', 'archery']

In [44]:
list1+list2

['bat', 'zoom', 'archery', 'portrait']

In [45]:
'portrait' in list1

False

In [46]:
'a'+'b'

'ab'

In [47]:
list1+'b'

TypeError: can only concatenate list (not "str") to list

In [48]:
sum(numeric_list)

15

In [49]:
min(numeric_list)

0

In [50]:
max(numeric_list)

5

In [51]:
len(numeric_list)

6

In [53]:
numeric_list.sort()

In [54]:
numeric_list

[0, 1, 2, 3, 4, 5]

In [55]:
numeric_list.sort(reverse=True)

In [56]:
numeric_list

[5, 4, 3, 2, 1, 0]

In [57]:
dct

{'list': [1, 0], 'set': {0, 1}, 'tuple': (1, 0)}

In [58]:
dct.keys()

dict_keys(['list', 'set', 'tuple'])

In [63]:
dct.values()

dict_values([[1, 0], {0, 1}, (1, 0)])

In [64]:
happy=True

In [65]:
happy

True

In [66]:
print(5+5==10)

True

In [67]:
print('q' in 'qwe')

True

In [68]:
print(5>4)

True

In [69]:
print(4>6)

False

In [70]:
print(5>4>3)

True

In [71]:
print(10>5<7)

True

In [75]:
print((100>75) and (60<40))

False

In [73]:
print((100>75)|(60<40))

True

In [74]:
print((93>80) or (3 not in [1,2,3,4,5]))

True

In [76]:
1 == True

True

In [77]:
0 == False

True

In [78]:
0 is False

False

In [79]:
5 is 5

True

In [80]:
a=4

In [81]:
a is 4

True

In [82]:
0 is not False

True

In [83]:
False is 0

False

In [109]:
normal=30
israin=True
isjam=True
rain=20
jam=15

In [110]:
commute=normal
if israin==True:
    commute=normal+rain
    if isjam==True:
        commute=normal+rain+jam
print(commute)

65

In [111]:
commute=normal
if israin==True:
    commute+=rain
    if isjam==True:
        commute+=rain+jam
print(commute)

85

In [112]:
commute=normal
if israin==True:
    commute+=rain
    if isjam==True:
        commute+=jam
print(commute)

65

In [114]:
print(normal+rain*israin+israin*isjam*jam)

65

In [120]:
def commute_time(normal,rain,jam,israin,isjam):
    return(normal+rain*israin+israin*isjam*jam)
commute_time(30,20,15,True,True)

65

In [121]:
range(10)

range(0, 10)

In [123]:
a=range(5)
print(a[1])
a[1]

1

1

In [124]:
range(5)

range(0, 5)

In [125]:
range(1,5)

range(1, 5)

In [126]:
range(1,5,2)

range(1, 5, 2)

In [127]:
len(range(1,5,2))

2

In [128]:
sum(range(1,5,2))

4

In [129]:
list(range(1,5,2))

[1, 3]

In [132]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [134]:
for value in range(5,15):
    print(value)

5
6
7
8
9
10
11
12
13
14

In [136]:
fruits=['apple','orange','banana','pear']
for fruit in fruits:
    print(fruit.title())

Apple
Orange
Banana
Pear

In [139]:
ages={'Mark':34,'Talia':22,'Claudia':37,'Tom':44}
for name in ages:
    print(ages[name])

34
22
37
44

In [143]:
for name,age in ages.items():
    print(name,'is',age,'years old')

Mark is 34 years old
Talia is 22 years old
Claudia is 37 years old
Tom is 44 years old

In [145]:
for item in ages.items():
    print(item)

('Mark', 34)
('Talia', 22)
('Claudia', 37)
('Tom', 44)

In [149]:
for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 orange
2 banana
3 pear

In [154]:
for i, item in enumerate(fruits):
    print(i,item)

0 apple
1 orange
2 banana
3 pear